body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, rgb(10, 154, 120), #150032);
    color: white;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(to right,rgb(255, 0, 255), rgb(0, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(0, 0, 0);

}


p {
    font-size: 22px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid green;
    border-radius: 20px;
    background-color: purple;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 255, 0, 0.5);
}